.btn-danger {


/*
    background: linear-gradient(to bottom, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    background-image: linear-gradient(to bottom, #604EB 0%, #201EFF 100%);
    background-image: -o-linear-gradient(bottom, #604EB 0%, #201EFF 100%);
*/

    /*background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 50%, #ea2803 51%, #ff6600 75%, #c72200 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3c5bd), color-stop(50%,#e86c57), color-stop(51%,#ea2803), color-stop(75%,#ff6600), color-stop(100%,#c72200));*/
    /*background: -webkit-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);*/
    /*background: -o-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);*/
    /*background: -ms-linear-gradient(top, #f3c5bd 0%,#e86c57 50%,#ea2803 51%,#ff6600 75%,#c72200 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 );*/

    background: radial-gradient(ellipse at center, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    transform-style: preserve-3d;


    backface-visibility: hidden;
    visibility: hidden;

    background: url(foobar.jpg);

    /* testing all transforms */

    transform: matrix(1.0, 2.0, 3.0, 4.0, 5.0, 6.0);
    transform: translate(12px, 50%);
    transform: translateX(2em);
    transform: translateY(3in);
    transform: scale(2, 0.5);
    transform: scaleX(2);
    transform: scaleY(0.5);
    transform: rotate(0.5);
    transform: skewX(30deg);
    transform: skewY(1.07rad);
    transform: matrix3d(1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0);
    transform: translate3d(12px, 50%, 3em);
    transform: translateZ(2px);
    transform: scale3d(2.5, 1.2, 0.3);
    transform: scaleZ(0.3);
    transform: rotate3d(1, 2.0, 3.0, 10deg);
    transform: rotateX(10deg);
    transform: rotateY(10deg);
    transform: rotateZ(10deg);
    transform: perspective(17px);
    transform: translateX(10px) rotate(10deg) translateY(5px);



    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    color: rgb(100, 100, 100);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #604EB),
        color-stop(1, #201EFF)
    );
    background-image: -moz-linear-gradient(bottom, #604EB 0%, #201EFF 100%);
    background-image: -webkit-linear-gradient(bottom, #604EB 0%, #201EFF 100%);
    background-image: -ms-linear-gradient(bottom, #604EB 0%, #201EFF 100%);



    /* a-z standard. */


    azimuth: '';
    background: '';
    background-attachment: '';
    background-color: '';
    background-image: '';
    background-position: '';
    background-position-x: '';
    background-position-y: '';
    background-repeat: '';
    behavior: '';
    border: '1px solid #444';
    border-bottom: '2px';
    border-bottom-color: 'red';
    border-bottom-style: 'dotted';
    border-bottom-width: '';
    border-collapse: '';
    border-color: '';
    border-left: '';
    border-left-color: '';
    border-left-style: '';
    border-left-width: '';
    border-right: '';
    border-right-color: '';
    border-right-style: '';
    border-right-width: '';
    border-spacing: '';
    border-style: '';
    border-top: '';
    border-top-color: '';
    border-top-style: '';
    border-top-width: '';
    border-width: '';
    bottom: '';
    box-shadow: '';
    caption-side: '';
    clear: '';
    clip: '';
    color: '';
    content: '';
    counter-increment: '';
    counter-reset: '';
    cue: '';
    cue-after: '';
    cue-before: '';
    cursor: '';
    direction: '';
    display: '';
    elevation: '';
    empty-cells: '';
    filter: '';
    float: '';
    font: '';
    font-family: '';
    font-size: '';
    font-size-adjust: '';
    font-stretch: '';
    font-style: '';
    font-variant: '';
    font-weight: '';
    height: '';
    ime-mode: '';
    include-source: '';
    layer-background-color: '';
    layer-background-image: '';
    layout-flow: '';
    layout-grid: '';
    layout-grid-char: '';
    layout-grid-char-spacing: '';
    layout-grid-line: '';
    layout-grid-mode: '';
    layout-grid-type: '';
    left: '';
    letter-spacing: '';
    line-break: '';
    line-height: '';
    list-style: '';
    list-style-image: '';
    list-style-position: '';
    list-style-type: '';
    margin: '';
    margin-bottom: '';
    margin-left: '';
    margin-right: '';
    margin-top: '';
    marker-offset: '';
    marks: '';
    max-height: '';
    max-width: '';
    min-height: '';
    min-width: '';
    -moz-binding: '';
    -moz-border-radius: '';
    -moz-border-radius-topleft: '';
    -moz-border-radius-topright: '';
    -moz-border-radius-bottomright: '';
    -moz-border-radius-bottomleft: '';
    -moz-border-top-colors: '';
    -moz-border-right-colors: '';
    -moz-border-bottom-colors: '';
    -moz-border-left-colors: '';
    -moz-opacity: '';
    -moz-outline: '';
    -moz-outline-color: '';
    -moz-outline-style: '';
    -moz-outline-width: '';
    -moz-user-focus: '';
    -moz-user-input: '';
    -moz-user-modify: '';
    -moz-user-select: '';
    orphans: '';
    outline: '';
    outline-color: '';
    outline-style: '';
    outline-width: '';
    overflow: '';
    overflow-X: '';
    overflow-Y: '';
    padding: '';
    padding-bottom: '';
    padding-left: '';
    padding-right: '';
    padding-top: '';
    page: '';
    page-break-after: '';
    page-break-before: '';
    page-break-inside: '';
    pause: '';
    pause-after: '';
    pause-before: '';
    pitch: '';
    pitch-range: '';
    play-during: '';
    position: '';
    quotes: '';
    -replace: '';
    richness: '';
    right: '';
    ruby-align: '';
    ruby-overhang: '';
    ruby-position: '';
    -set-link-source: '';
    size: '';
    speak: '';
    speak-header: '';
    speak-numeral: '';
    speak-punctuation: '';
    speech-rate: '';
    stress: '';
    scrollbar-arrow-color: '';
    scrollbar-base-color: '';
    scrollbar-dark-shadow-color: '';
    scrollbar-face-color: '';
    scrollbar-highlight-color: '';
    scrollbar-shadow-color: '';
    scrollbar-3d-light-color: '';
    scrollbar-track-color: '';
    table-layout: '';
    text-align: '';
    text-align-last: '';
    text-decoration: '';
    text-indent: '';
    text-justify: '';
    text-overflow: '';
    text-shadow: '';
    text-transform: '';
    text-autospace: '';
    text-kashida-space: '';
    text-underline-position: '';
    top: '';
    unicode-bidi: '';
    -use-link-source: '';
    vertical-align: '';
    visibility: '';
    voice-family: '';
    volume: '';
    white-space: '';
    widows: '';
    width: '';
    word-break: '';
    word-spacing: '';
    word-wrap: '';
    writing-mode: '';
    z-index: '';
    zoom: '';

}
